*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: auto;
    background-color: white;
}

.card{
    text-align: center;
    width: 90%;
    height: auto;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 2rem;
}

.profile{
    margin-top: 2rem;
    border-right: 1px solid grey;
    
}

img{
    
    width: 50%;
    height: auto;
    border-radius: 50%;
}
p{
    padding-top: 1rem;
    color: black;
    padding-bottom: 1rem;
}
span{
    padding: 1rem;
}

h3{
    margin-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}
#repos{
    text-align: center;
}



ul{
    text-align: center;
}
.lis {
    text-align: center;
    list-style: none;
    font-size: 18px;
    padding: 2rem;
    
}






@media(max-width:800px){
    .card{
        display: block;
    }
    .profile{
        text-align: center;
        border: none;
        border-bottom: 1px solid grey;
        padding-bottom: 1rem;
    }
}